.lists
    &-list
        display: flex
        flex-wrap: wrap
        gap: 30px
    &-card 
        width: 30%
        // height: 100px
        border: 1px solid #000
        border-radius: 15px
        // z-index: 1000 !important
        padding: 5px
        &__image
            height: 200px
            background-size: cover
            background-position-y: top
            background-repeat: none
        &__name
            background: #222
    &-filter
        background: #222
        padding: 15px
        margin: 15px 0
    &-pag 
        display: flex
        align-items: center
        justify-content: center
        gap: 15px
        
        li
            list-style: none
        &__link
            cursor: pointer
            // margin: 0 auto